.main-box{
    background-color:ghostwhite;
}
.container-box{
    display:flex;
    column-gap: 50px;
}
.box-1{
   height: 500px;
   width: 100%;
}
.box-2{
    height: 500px;
    width:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
 }
 .imgsocial{
    height: 30px;
    width: 30px;
    margin: 0.5rem auto;
    
 }
    
 .btn {
    background-color:blue;
}


