.main-box{
    background-color:ghostwhite;
}
.container{
    display:flex;
    column-gap: 50px;
}
.box-1{
   height: 500px;
   width: 100%;
   background-color: lightblue;

}

.box-2{
    height: 500px;
    width:80px;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
 }
 img{
    height: 30px;
    width: 40px;
    margin: 0.5rem auto;
    
 }
    
 

.btn {
    background-color:blue;
}


